# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
forwarder

# Test binary, built by `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Local environment variables
.env
.env.local
webapp/node_modules/
webapp/dist/

server/dist/

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
